<!doctype html>
<html>

<head>
    <title>Voting App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/" class="btn btn-default btn-sm">Home</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <a href="/newpoll">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Create a New Poll</h3>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="/mypolls">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> My Polls</h3>
                    </div>
                </a>
            </div>

        </div>

    </div>

    <div class="text-center">
        <p>Design by <a href="http://bctechlondon.co.uk">BC-Tech London</a></p>
    </div>
</body>

</html>
